// @import '../theme/saga/saga-green/theme';
@import '../theme/lara-light-green';
@import 'primeng/resources/primeng.css';
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

body,
html {
  font-size: 13px;
  font-family: var(--font-family);
  background-color: var(--surface-ground);
}

.p-button-no-focus {
  .p-button.p-button-secondary:enabled:focus {
    box-shadow: none;
  }
}
