// @import '../theme/saga/saga-green/theme';
@import '../theme/lara-light-green';
@import 'primeng/resources/primeng.css';
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

:root {
  --bar-height: 37.5px;
  --h-full-ex-app-bar: calc(100vh - 3.5rem);
}

body,
html {
  font-size: 13px;
  font-family: var(--font-family);
  background-color: var(--surface-ground);
}

.p-button-no-focus {
  .p-button.p-button-secondary:enabled:focus {
    box-shadow: none;
  }
}

.p-dialog-header-icons {
  .p-dialog-header-close.p-button {
    padding: 0.5rem;
  }
}

.p-menuitem-link-active span {
  color: var(--primary-500);
}
