<p-button
  icon="pi pi-th-large"
  [text]="true"
  (click)="op.toggle($event)"
  class="company-toggle-btn"
></p-button>

<!-- <a href="javascript:void" class="app-bar-logo"></a> -->

<span class="company-label text-xl font-semibold text-primary-300">{{
  selectedCompany?.name || ''
}}</span>

<p-overlayPanel #op styleClass="companies-panel">
  <h3 style="padding: 0.75rem 1.25rem 0" class="font-semibold">Компании</h3>
  <p-listbox
    [options]="companies"
    [(ngModel)]="selectedCompany"
    optionLabel="name"
    [style]="{ width: '15rem', border: 'none' }"
  ></p-listbox>
</p-overlayPanel>

<div class="app-bar-center">
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" pInputText class="p-inputtext-sm" placeholder="Поиск" />
  </span>
</div>

<div class="app-bar-right ml-auto">
  <p-button
    icon="pi pi-bell"
    [text]="true"
    [rounded]="true"
    class="bar-icon mr-3"
  ></p-button>
  <p-avatar
    class="cursor-pointer bar-avatar"
    shape="circle"
    size="large"
    [label]="avatarLabel$ | async"
    [style]="{ 'background-color': (userColorHslColor$ | async) }"
    (click)="menu.toggle($event)"
  ></p-avatar>
  <p-menu #menu [model]="items" [popup]="true"></p-menu>
</div>

