:host {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.logo {
    width: 400px;
}

.bc-container {
    min-height: 52.5%;
}