<p-panel [header]="'Права в компании ' + companyName()">
  @if (userCompany(); as uc) {
  <b-frms
    #userCompanyRef
    [entity]="frmEntity"
    [value]="uc"
    fieldClass="col-12 md:col-6 lg:col-4"
    formClass="grid"
  ></b-frms>
  }
</p-panel>

<p-panel header="Права на объект" class="block mt-2">
  <p-dropdown
    [(ngModel)]="selectedObject"
    [options]="objects()"
    optionLabel="name"
    placeholder="Объект"
    styleClass="dropdown-objects"
    (onChange)="onSelectObject($event)"
  >
    <ng-template let-o pTemplate="item">
      <div>{{ o.id }}. {{ o.name }} ({{ o.address }})</div>
    </ng-template>
  </p-dropdown>
  @if (userObject(); as uo) {
  <b-frms
    #userObjectRef
    [entity]="frmEntityUserObject"
    [value]="uo"
    fieldClass="col-12 md:col-6 lg:col-4"
    formClass="grid mt-4"
  ></b-frms>
  }
</p-panel>
