<p-panel [header]="'Тарифы на площадке ' + placeName + ', ' + objectName">
  @for (rule of rules(); track $index) { @if ($index > 0) {
  <p-divider />
  }

  <div class="grid">
    <div class="col-3">
      {{ rule.tariff.name }}
    </div>

    <div class="col-2" style="font-variant-numeric: tabular-nums">
      @for (period of rule.tariff.data.periods; track $index) {
      <div class="pb-2">
        {{ period.start }} - {{ period.end }}
        <span class="text-primary ml-2">{{ period.amount | money }}</span>
      </div>
      }
    </div>

    <div class="col-4">
      <p-selectButton
        [options]="weekdays"
        [(ngModel)]="rule.weekdays"
        [multiple]="true"
        optionLabel="name"
        optionValue="value"
      />
    </div>
    <div class="col-2">
      <p-button label="Удалить" [rounded]="true" severity="danger" />
    </div>
  </div>

  }
</p-panel>
