:host ::ng-deep {
  .sub-nav-menu {
    position: absolute;
    height: calc(var(--h-full-ex-app-bar) - var(--bar-height));
    overflow: auto;
    transition: transform 0.2s;
    transform: translateX(-200px);

    .p-menu {
      border: none;
    }
  }
  .calendar-container {
    transition: transform 0.2s;
    height: calc(100% - var(--bar-height));
  }
}
:host(.menu-opened) ::ng-deep {
  .sub-nav-menu {
    transform: translateX(0);
  }
  .calendar-container {
    padding-left: 180px;
  }
}
