:host {
  display: block;
  position: relative;
  --width-left-menu: 16.5rem;

  .admin-menu {
    position: absolute;
    height: calc(100vh - 92px - 3.5rem);
    width: var(--width-left-menu);
    background-color: var(--surface-0);
    left: 6px;
    top: 85px;
    border-radius: 6px;
    transition: transform 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .admin-content {
    padding-left: calc(var(--width-left-menu) + 1rem);
    padding-top: 84px;
    padding-right: 6px;
    transition: padding-left 0.2s;
  }

  b-ribbon-bar {
    position: fixed;
    z-index: 10;
    background-color: var(--surface-50);
    display: block;
    width: 100%;
  }

  &:not(.menu-opened) {
    .admin-menu {
      transform: translateX(-600px);
    }
    .admin-content {
      padding-left: 6px;
    }
  }
}

::ng-deep {
  b-admin-page {
    .admin-menu {
      .p-menuitem-link-active span {
        color: var(--primary-500);
        font-weight: 500;
      }
      .p-menu.p-component {
        border: none;

        .p-menuitem-content:has(.p-menuitem-link-active) {
          background-color: var(--surface-100);
        }
      }
      p-menu {
        .p-menu.p-component {
          width: var(--width-left-menu);
        }
      }
    }

    &.ribbon-menu-above-content {
      .admin-menu {
        top: calc(3.5rem - 2px) !important;
        height: calc(100vh - 7.5rem) !important;
        z-index: 11;
      }
      b-ribbon-bar .b-ctb-row-menu {
        transition: padding-left 0.2s;
      }

      &.menu-opened {
        b-ribbon-bar {
          .b-ctb-row-menu {
            padding-left: calc(var(--width-left-menu) + 1rem);
          }
        }
      }
    }

    &:not(.menu-opened) {
      b-ribbon-bar {
        .b-ctb-row-tabs {
          & > p-button:first-child {
            .p-button-icon {
              color: var(--primary-300);
            }
          }
        }
      }
    }

    &:has(.nav-menu-empty) {
      b-ribbon-bar {
        .b-ctb-row-tabs {
          & > p-button:first-child {
            button {
              cursor: default;
              pointer-events: none;
            }
            .p-button-icon {
              color: var(--gray-300);
            }
          }
        }
      }
    }
  }
  .admin-menu {
    .p-menu .p-submenu-header {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
