:host {
  .admin-menu {
    position: fixed;
    height: calc(100% - 3.5rem);
    border-right: 1px solid var(--surface-200);
    width: 12.5rem;
    background-color: var(--surface-50);
  }
  .admin-content {
    padding-left: 12.5rem;
    min-height: calc(100vh - 3.5rem);
    background-color: var(--surface-0);
  }
}

::ng-deep {
  b-admin-page {
    .admin-menu {
      .p-menu,
      .p-menu .p-submenu-header {
        border: none;
        background-color: transparent;
      }
      .p-menuitem-link-active span {
        color: var(--primary-500);
        font-weight: 500;
      }
    }
  }
}
