<div class="b-ctb-row-tabs">
  <p-button
    icon="pi pi-bars"
    [rounded]="false"
    [text]="true"
    severity="secondary "
    class="p-button-no-focus"
    (onClick)="onMenuBtnClick($event)"
  ></p-button>

  <div class="b-ctb-tabs">
    @for (tab of tabs(); track tab.id) {
    <div
      class="b-ctb-tab"
      routerLinkActive="active"
      [routerLink]="tab.routerLink"
    >
      <span>{{ tab.label }}</span>
    </div>
    }
  </div>
</div>

<div class="b-ctb-row-menu">
  <p-menubar [model]="menu()" />
</div>
