.b-ctb-row-tabs {
  display: flex;
  align-items: center;
  padding: 0 20px 0 9px;
  --bar-height: 37.5px;
  height: var(--bar-height);
}

.b-ctb-tabs {
  display: flex;
  align-items: center;

  .b-ctb-tab {
    cursor: default;
    height: var(--bar-height);
    padding: 0 1.2rem;
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      transition: width 0.5s, left 0.5s;
    }

    &.active {
      span {
        font-weight: 600;
      }
      &::after {
        content: '';
        display: block;
        height: 2px;
        width: calc(100% - 2.4rem);
        background-color: var(--primary-color);
        position: absolute;
        bottom: 2px;
        left: 1.2rem;
        border-radius: 2px;
      }
    }

    &:hover {
      background-color: var(--surface-100);

      &::after {
        width: 100%;
        left: 0;
      }
    }
  }
}

.b-ctb-row-menu {
  padding: 6px;
}

:host.epmty-menubar {
  .b-ctb-row-menu {
    display: none;
  }
}

:host ::ng-deep {
  .b-ctb-row-menu {
    .p-menubar {
      padding: 0 0.25rem;
      background-color: var(--surface-0);
      // border: none;
      // box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02),
      //   0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08) !important;
    }
    .p-menubar
      .p-menubar-root-list
      > .p-menuitem
      > .p-menuitem-content
      .p-menuitem-link {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      padding: 0.5rem 1rem;
    }
  }
}
