:host {
  display: block;

  form {
    padding: 0 18px;
  }
}

::ng-deep {
  @-webkit-keyframes autofill {
    to {
      color: red;
      background: transparent;
    }
  }

  input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }
}
